{:blocks (
{:block/content "录入\n新增单据之后的状态，可以编辑，删除，启动"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6695f027-77c0-45de-8bf8-923781b4cdea"}
:block/parent 
{:block/uuid #uuid "6695f027-77c0-45de-8bf8-923781b4cdea"}
:block/properties 
{}
:block/uuid #uuid "6695f039-7e67-4bc4-b9f7-67761db8d4a6"} 
{:block/created-at 1721102398564
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6695f039-7e67-4bc4-b9f7-67761db8d4a6"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 64.80000305175781]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d68daf90-4327-11ef-86c2-e736019976a9"
:noFill false
:point [272 144]
:parentId "6695f027-77c0-45de-8bf8-923781b4cdea"
:collapsedHeight 0
:nonce 1721102385420}}
:block/updated-at 1721102398564} 
{:block/content "进行中"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6695f039-7e67-4bc4-b9f7-67761db8d4a6"}
:block/parent 
{:block/uuid #uuid "6695f027-77c0-45de-8bf8-923781b4cdea"}
:block/properties 
{}
:block/uuid #uuid "6695f053-5ece-4e49-95e6-329dee97fc13"} 
{:block/created-at 1721102419148
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "6695f053-5ece-4e49-95e6-329dee97fc13"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.79999923706055]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ea3a9cb0-4327-11ef-86c2-e736019976a9"
:noFill false
:point [312 264]
:parentId "6695f027-77c0-45de-8bf8-923781b4cdea"
:collapsedHeight 0
:nonce 1721102418429}}
:block/updated-at 1721102419148} 
{:block/content "暂停"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6695f053-5ece-4e49-95e6-329dee97fc13"}
:block/parent 
{:block/uuid #uuid "6695f027-77c0-45de-8bf8-923781b4cdea"}
:block/properties 
{}
:block/uuid #uuid "66960021-f376-4f7e-bcea-bc8748162881"} 
{:block/created-at 1721106465920
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "66960021-f376-4f7e-bcea-bc8748162881"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.79999923706055]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56207180-4331-11ef-86c2-e736019976a9"
:noFill false
:point [352 376]
:parentId "6695f027-77c0-45de-8bf8-923781b4cdea"
:collapsedHeight 0
:nonce 1721106464922}}
:block/updated-at 1721106465920})
:pages (
{:block/uuid #uuid "6695f027-77c0-45de-8bf8-923781b4cdea"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6695f027-77c0-45de-8bf8-923781b4cdea"
:name "单据状态变化表"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("d68daf90-4327-11ef-86c2-e736019976a9" "ea3a9cb0-4327-11ef-86c2-e736019976a9" "56207180-4331-11ef-86c2-e736019976a9")}}
:block/updated-at 1721106470131
:block/created-at 1721102375283
:block/type "whiteboard"
:block/name "单据状态变化表"
:block/original-name "单据状态变化表"})}